.vs/
.vs/MoonRender/v17/Browse.VC.db
x64/
.idea/.idea.MoonRender/.idea/vcs.xml
.idea/.idea.MoonRender/.idea/indexLayout.xml
.idea/.idea.MoonRender/.idea/encodings.xml
imgui.ini
/HLSL/*.cso
*.cso
MoonRender.vcxproj.filters
/MoonRender.vcxproj.user
